<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright © 2021 Wabi Animation Studios. All rights reserved. -->

<packages>
  <package id="Microsoft.UI.Xaml" version="2.8.0-prerelease.210927001" targetFramework="native" />
  <package id="Microsoft.Web.WebView2" version="1.0.1018-prerelease" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210930.14" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.0.0-preview1" targetFramework="native" />
</packages>