<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright © 2021 Wabi Animation Studios. All rights reserved. -->

<packages>
  <package id="boost" version="1.77.0" targetFramework="native" />
  <package id="inteltbb.redist.win" version="2020.0.166" targetFramework="native" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.210825.3" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK" version="1.0.0-experimental1" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.DWrite" version="1.0.0-experimental1" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.Foundation" version="1.0.0-experimental1" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.InteractiveExperiences" version="1.0.0-experimental1" targetFramework="native" />
  <package id="Microsoft.WindowsAppSDK.WinUI" version="1.0.0-experimental1" targetFramework="native" />
</packages>