---
# Shared configuration
# ====================
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
IndentWrappedFunctionNames: false
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortLambdasOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 99
BreakInheritanceList: BeforeColon
AllowAllParametersOfDeclarationOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerIndentWidth: 2
AccessModifierOffset: -1
ContinuationIndentWidth: 2
EmptyLineAfterAccessModifier: Always

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: false
  IndentBraces: false
  SplitEmptyNamespace: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  AfterObjCDeclaration: true

IndentCaseLabels: true
IndentPPDirectives: AfterHash
BreakBeforeTernaryOperators: false
SpaceAfterTemplateKeyword: false
FixNamespaceComments: true
NamespaceIndentation: All
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
ReflowComments: true
UseTab: Never
TabWidth: 2
IndentWidth: 2
PenaltyBreakAssignment: 110
AllowAllArgumentsOnNextLine: false
SortIncludes: false
AlignEscapedNewlines: Left
AlignArrayOfStructures: Left
EmptyLineBeforeAccessModifier: Always
AlwaysBreakBeforeMultilineStrings: true
MaxEmptyLinesToKeep: 2
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeColon
PenaltyReturnTypeOnItsOwnLine: 1000000
PenaltyBreakString: 1000000
ForEachMacros: ['TF_FOR_ALL', 'UNIVERSE_FOR_ALL', 'foreach']
WhitespaceSensitiveMacros: ['TF_DEFINE_PRIVATE_TOKENS', 'TF_DEFINE_PUBLIC_TOKENS', 'TF_DEFINE_ENV_SETTING', 'PP_CAT']
---
# CXX configuration
# =================
Language: Cpp
Standard: c++20
---
# JavaScript configuration
# ========================
Language: JavaScript
ColumnLimit: 100
---
# Json configuration (not shared)
# ===============================
Language: Json
BasedOnStyle: Google
IndentWidth: 2
IndentCaseLabels: false
TabWidth: 2
UseTab: Never 
ColumnLimit: 0
