<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Copyright © 2021 Wabi Animation Studios. All rights reserved. -->

<Application
  x:Class="WabiAnimation.Kraken.App"
  xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"
  xmlns:x="http://schemas.microsoft.com/winfx/2006/xaml"
  xmlns:controls="using:Microsoft.UI.Xaml.Controls"
  xmlns:kraken="using:Kraken">
  <Application.Resources>
    <ResourceDictionary>
      <ResourceDictionary.MergedDictionaries>
        <controls:XamlControlsResources xmlns="using:Microsoft.UI.Xaml.Controls"/>
          <!-- Other merged dictionaries here -->
          </ResourceDictionary.MergedDictionaries>
      <!-- Other app resources here -->
      </ResourceDictionary>
    </Application.Resources>
</Application>