<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Copyright © 2021 Wabi Animation Studios. All rights reserved. -->

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap2 uap3 desktop rescap build">

<!-- Internal Use. Microsoft Store uses this to register and verify codesign certificate. -->
<Identity
  Name="Kraken"
  Publisher="CN=Wabi Animation"
  Version="1.50.0.0"
  ProcessorArchitecture="x64" />

  <Properties>
    <DisplayName>Kraken</DisplayName>
    <PublisherDisplayName>Wabi Animation</PublisherDisplayName>
    <Logo>assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <!-- Windows 11 SDK Dependencies. 10.0.22000.0 Marks the first Windows 11 Build. -->
    <TargetDeviceFamily
      Name="Windows.Universal"
      MinVersion="10.0.22000.0"
      MaxVersionTested="10.0.22000.0" />
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.22000.0"
      MaxVersionTested="10.0.22000.0" />
    <PackageDependency
      Name="Microsoft.VCLibs.140.00"
      MinVersion="14.0.30035.0"
      Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application
      Id="Creator"
      Executable="$targetnametoken$.exe"
      EntryPoint="Kraken.Creator">
      <!-- Manifest Schema Requires Branding. -->
      <uap:VisualElements
        DisplayName="Kraken"
        Description="The 3D Animation Platform. Built with the Universe in Mind."
        BackgroundColor="transparent"
        Square150x150Logo="assets\Square150x150Logo.png"
        Square44x44Logo="assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="assets\Wide310x150Logo.png"
          Square71x71Logo="assets\SmallTile.png"
          Square310x310Logo="assets\LargeTile.png" />
        <uap:SplashScreen
          Image="assets\SplashScreen.png" />
        <uap:LockScreen
          BadgeLogo="assets\BadgeLogo.png"
          Notification="badgeAndTileText" />
      </uap:VisualElements>

      <Extensions>
        <!-- The Native Kraken File Formats. -->
        <uap3:Extension Category="windows.fileTypeAssociation">
          <!-- Pixar Natives. -->
          <uap3:FileTypeAssociation Name="usd">
            <uap:SupportedFileTypes>
              <!-- Pixar .USD -->
              <uap:FileType>.usd</uap:FileType>
              <!-- Pixar .USDC -->
              <uap:FileType>.usdc</uap:FileType>
              <!-- Pixar .USDZ -->
              <uap:FileType>.usdz</uap:FileType>
              <!-- Pixar .USDA -->
              <uap:FileType>.usda</uap:FileType>
            </uap:SupportedFileTypes>
          </uap3:FileTypeAssociation>
        </uap3:Extension>

        <!-- Kraken can be summoned via: 'kraken' in a term. -->
        <desktop:Extension
          Category="windows.fullTrustProcess"
          Executable="kraken.exe">
          <desktop:FullTrustProcess>
            <desktop:ParameterGroup GroupId="KrakenGroup" Parameters="kraken.exe"/>
          </desktop:FullTrustProcess>
        </desktop:Extension>
      </Extensions>

    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>

  <build:Metadata>
    <!-- Just some useful build output from my local machine - Furby. -->
    <build:Item Name="cl.exe" Version="19.30.30401.0 built by: vcwrkspc" />
    <build:Item Name="VisualStudio" Version="17.0" />
    <build:Item Name="VisualStudioEdition" Value="Microsoft Visual Studio Professional 2022" />
    <build:Item Name="OperatingSystem" Version="10.0.22000.1 (WinBuild.160101.0800)" />
    <build:Item Name="Microsoft.Build.AppxPackage.dll" Version="17.0.31512.422" />
    <build:Item Name="ProjectGUID" Value="{0BDC0280-04C8-3197-903F-9C9895C4B5F7}" />
    <build:Item Name="OptimizingToolset" Value="None" />
    <build:Item Name="TargetRuntime" Value="Native" />
    <build:Item Name="Microsoft.Windows.UI.Xaml.Build.Tasks.dll" Version="0.0.0.0" />
    <build:Item Name="WindowsDesktop" Version="10.0.22000.0" />
    <build:Item Name="WindowsMobile" Version="10.0.22000.0" />
    <build:Item Name="MakePri.exe" Version="10.0.22000.100 (WinBuild.160101.0800)" />
  </build:Metadata>
</Package>
