<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright © 2021 Wabi Animation Studios. All rights reserved. -->

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="Kraken"
    Publisher="CN=Wabi Animation, O=Chaos Engine, L=Denver, S=Colorado, C=US"
    Version="@KRAKEN_VERSION_DECIMAL@" />

  <Properties>
    <DisplayName>Kraken</DisplayName>
    <PublisherDisplayName>Wabi Animation</PublisherDisplayName>
    <Logo>StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.22000.0" MaxVersionTested="10.0.22000.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.22000.0" MaxVersionTested="10.0.22000.0"/>
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Kraken"
        Description="The 3D Animation Platform. Built with the Universe in Mind."
        BackgroundColor="transparent"
        Square150x150Logo="Square150x150Logo.png"
        Square44x44Logo="Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Wide310x150Logo.png" />
        <uap:SplashScreen Image="SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
